@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply focus-visible:outline-teal-500 focus-visible:rounded-sm focus-visible:outline-dashed focus-visible:outline-offset-4 focus-visible:outline-2;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: 'Nunito';
    @apply selection:bg-teal-500/20;
  }

  ::-webkit-scrollbar {
    @apply w-[6px] h-0;
    scrollbar-width: 6px;
  }

  ::-webkit-scrollbar, ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    @apply bg-slate-100;
  }

  ::-webkit-scrollbar, ::-webkit-scrollbar-track {
    @apply bg-transparent;
}
}